In [8]:
import pandas as pd

In [9]:
file = pd.read_csv('F:\\datasets\\mobile_range_class\\train.csv')
df = file.copy()
df.sample(10)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
814,1188,1,1.5,1,0,0,54,0.3,198,6,...,1150,1469,485,12,7,7,0,1,0,0
1681,807,1,0.5,1,0,0,37,0.2,127,4,...,245,829,2319,5,4,4,0,0,0,1
1144,1285,0,2.4,0,1,1,51,1.0,140,7,...,475,500,2094,8,0,10,1,0,0,1
1721,1174,1,0.9,0,7,0,30,1.0,147,4,...,744,1244,804,17,14,16,0,1,1,0
100,1883,1,0.5,0,3,1,10,0.3,146,6,...,836,1739,2600,16,8,20,1,0,0,3
982,1035,0,0.6,1,2,1,44,0.5,99,3,...,236,1960,3506,14,5,12,1,1,0,3
1205,1093,0,1.9,1,2,1,22,0.3,196,8,...,238,807,1869,8,5,4,1,1,1,1
1711,916,1,0.5,0,0,1,47,0.2,82,4,...,1147,1393,1659,11,10,11,1,1,0,1
204,1472,1,2.3,0,6,0,61,0.1,168,6,...,710,1052,2677,19,15,8,1,0,0,2
1092,846,1,2.6,0,0,1,58,0.1,123,4,...,1140,1983,2248,16,8,13,1,0,0,2

In [10]:
label = df['price_range']
df = df.drop(['price_range'],axis=1)

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_df = pd.DataFrame(scaler.fit_transform(df),columns=df.columns)
print('scaling done !')

scaling done !

In [12]:
from sklearn.model_selection import train_test_split
xtr , xts , ytr , yts = train_test_split(scaled_df,label,test_size=0.2,random_state=42)

In [13]:
from sklearn.ensemble import RandomForestRegressor
alg = RandomForestRegressor()
alg.fit(xtr,ytr)
alg.score(xtr,ytr)*100

99.12220936779423

In [14]:
alg.score(xts,yts)*100

94.75495013561053